DataTierGeneratorPlusTester/VB_BuiltIn/Service References/Test_masterService/Test_masterService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Vb_BuiltIn_WcfServiceApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Vb_BuiltIn_WcfServiceApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Test_masterContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="somebool" type="xs:boolean" />
      <xs:element minOccurs="0" name="somebool_nullable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="somedate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="somedate_nullable" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="somefloat" type="xs:double" />
      <xs:element minOccurs="0" name="somefloat_nullable" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="someint" type="xs:int" />
      <xs:element minOccurs="0" name="someint_nullable" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Test_masterContract" nillable="true" type="tns:Test_masterContract" />
  <xs:complexType name="ArrayOfTest_masterContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Test_masterContract" nillable="true" type="tns:Test_masterContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTest_masterContract" nillable="true" type="tns:ArrayOfTest_masterContract" />
</xs:schema>