DataTierGeneratorPlusTester/Cs_BuiltIn/Service References/Test_masterService/Test_masterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2412/Test_masterService.Generated.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cs_BuiltIn_WcfServiceApp" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="someint" type="xs:int" />
        <xs:element minOccurs="0" name="someint_nullable" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="somedate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="somedate_nullable" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="somefloat" type="xs:double" />
        <xs:element minOccurs="0" name="somefloat_nullable" nillable="true" type="xs:double" />
        <xs:element minOccurs="0" name="somebool" type="xs:boolean" />
        <xs:element minOccurs="0" name="somebool_nullable" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cs_BuiltIn_WcfServiceApp" minOccurs="0" name="info" nillable="true" type="q1:Test_masterContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="someint" type="xs:int" />
        <xs:element minOccurs="0" name="someint_nullable" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="somedate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="somedate_nullable" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="somefloat" type="xs:double" />
        <xs:element minOccurs="0" name="somefloat_nullable" nillable="true" type="xs:double" />
        <xs:element minOccurs="0" name="somebool" type="xs:boolean" />
        <xs:element minOccurs="0" name="somebool_nullable" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cs_BuiltIn_WcfServiceApp" minOccurs="0" name="info" nillable="true" type="q2:Test_masterContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cs_BuiltIn_WcfServiceApp" minOccurs="0" name="info" nillable="true" type="q3:Test_masterContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectDSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectDSResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Cs_BuiltIn_WcfServiceApp" minOccurs="0" name="info" nillable="true" type="q4:Test_masterContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Cs_BuiltIn_WcfServiceApp" minOccurs="0" name="SelectInfoResult" nillable="true" type="q5:ArrayOfTest_masterContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectDSAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectDSAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectDSAllResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectInfoAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectInfoAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Cs_BuiltIn_WcfServiceApp" minOccurs="0" name="SelectInfoAllResult" nillable="true" type="q6:ArrayOfTest_masterContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>