DataTierGeneratorPlusTester/VB_BuiltIn/Service References/Test_detailService/Test_detailService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Vb_BuiltIn_WcfServiceApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Vb_BuiltIn_WcfServiceApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Test_detailContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="amt" type="xs:double" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="master_id" type="xs:int" />
      <xs:element minOccurs="0" name="qty" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Test_detailContract" nillable="true" type="tns:Test_detailContract" />
  <xs:complexType name="ArrayOfTest_detailContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Test_detailContract" nillable="true" type="tns:Test_detailContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTest_detailContract" nillable="true" type="tns:ArrayOfTest_detailContract" />
</xs:schema>